In [16]:
import pandas as pd
import numpy as np
import pyvista as pv

In [17]:
data = pd.read_csv("data/archive/data.csv")
data.dropna(inplace=True)
display(data)

,PAYS,Code,Ville,X,Y,Date,End_of_sampling,Duration(h.min),I_131_(Bq/m3),Cs_134_(Bq/m3),Cs_137_(Bq/m3)
0,SE,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,SE,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,SE,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,SE,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,SE,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028
...,...,...,...,...,...,...,...,...,...,...,...
2046,HU,24,BUDAPEST,19.10,47.5,86/05/07,08:00,24.0,3.7,0.58,1.2
2047,HU,24,BUDAPEST,19.10,47.5,86/05/08,08:00,24.0,2.2,0.33,0.69
2048,HU,24,BUDAPEST,19.10,47.5,86/05/09,08:00,24.0,0.75,0.14,0.29
2049,HU,24,BUDAPEST,19.10,47.5,86/05/10,08:00,24.0,0.054,0.006,0.009
2050,HU,24,BUDAPEST,19.10,47.5,86/05/11,08:00,24.0,0.051,0.006,0.01

### Create a pyvista polydata and initialize mesh like that, then save to vtk rather than trying to directly create the vtk file