In [16]:
import pandas as pd
import numpy as np
import pyvista as pv

In [17]:
data = pd.read_csv("data/archive/data.csv")
data.dropna(inplace=True)
display(data)

,PAYS,Code,Ville,X,Y,Date,End_of_sampling,Duration(h.min),I_131_(Bq/m3),Cs_134_(Bq/m3),Cs_137_(Bq/m3)
0,SE,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,SE,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,SE,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,SE,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,SE,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028
...,...,...,...,...,...,...,...,...,...,...,...
2046,HU,24,BUDAPEST,19.10,47.5,86/05/07,08:00,24.0,3.7,0.58,1.2
2047,HU,24,BUDAPEST,19.10,47.5,86/05/08,08:00,24.0,2.2,0.33,0.69
2048,HU,24,BUDAPEST,19.10,47.5,86/05/09,08:00,24.0,0.75,0.14,0.29
2049,HU,24,BUDAPEST,19.10,47.5,86/05/10,08:00,24.0,0.054,0.006,0.009
2050,HU,24,BUDAPEST,19.10,47.5,86/05/11,08:00,24.0,0.051,0.006,0.01

In [18]:
def write(string: str, mode:str="a", end:str="\n") -> None:
    with open("data/chernobyl.vtk", mode = mode, encoding="utf-8") as outfile:
        outfile.write(string + end)

In [19]:
write("# vtk DataFile Version 3.0")
write("This is the chernobyl data from https://www.kaggle.com/datasets/debjeetdas/air-concentration-for-the-chernobyl-disaster turned into a vtk file")
write("ASCII")

In [20]:
data["loc"] = data["X"].astype("str") + ":" + data["Y"].astype("str")
display(data)
print(data["loc"].unique())

,PAYS,Code,Ville,X,Y,Date,End_of_sampling,Duration(h.min),I_131_(Bq/m3),Cs_134_(Bq/m3),Cs_137_(Bq/m3),loc
0,SE,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24,12.07:55.7
1,SE,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098,12.07:55.7
2,SE,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074,12.07:55.7
3,SE,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009,12.07:55.7
4,SE,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028,12.07:55.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2046,HU,24,BUDAPEST,19.10,47.5,86/05/07,08:00,24.0,3.7,0.58,1.2,19.1:47.5
2047,HU,24,BUDAPEST,19.10,47.5,86/05/08,08:00,24.0,2.2,0.33,0.69,19.1:47.5
2048,HU,24,BUDAPEST,19.10,47.5,86/05/09,08:00,24.0,0.75,0.14,0.29,19.1:47.5
2049,HU,24,BUDAPEST,19.10,47.5,86/05/10,08:00,24.0,0.054,0.006,0.009,19.1:47.5
2050,HU,24,BUDAPEST,19.10,47.5,86/05/11,08:00,24.0,0.051,0.006,0.01,19.1:47.5

['12.07:55.7' '6.1:50.76' '10.59:49.3' '13.42:52.5' '12.78:49.2'
 '7.87:48.0' '9.95:51.53' '9.73:52.38' '8.67:49.0' '7.65:51.11'
 '11.58:48.13' '7.15:53.71' '8.77:50.1' '8.94:48.46' '11.34:48.0'
 '10.75:52.81' '5.75:43.71' '0.25:47.15' '4.81:50.1' '4.8:44.63'
 '2.51:47.71' '7.56:47.91' '-1.9:49.55' '2.31:51.0' '5.72:45.18'
 '5.26:45.8' '2.13:48.88' '4.8:44.13' '7.42:43.73' '2.18:48.68'
 '2.36:48.85' '2.16:48.73' '4.75:45.4' '1.58:47.71' '4.73:44.33'
 '5.38:49.15' '-6.28:53.37' '11.33:44.48' '12.3:42.03' '8.63:45.8'
 '8.02:45.21' '16.63:40.17' '5.18:52.11' '4.38:52.0' '6.56:53.13'
 '6.53:53.25' '4.64:52.76' '3.58:51.45' '23.78:38.0' '21.79:40.31'
 '22.95:40.59' '-2.45:51.69' '-3.61:55.06' '-4.49:56.0' '-4.83:56.0'
 '-1.3:51.62' '4.33:50.78' '5.12:51.18' '-0.4:39.48' '0.0:0.0'
 '7.12:46.49' '8.48:46.15' '7.42:46.42' '9.78:47.51' '15.36:47.08'
 '11.41:47.28' '14.33:46.63' '14.3:48.31' '13.05:47.9' '16.36:48.21'
 '25.0:60.13' '24.7:60.45' '10.66:59.9' '9.8:59.9' '12.0:57.75'
 '13.92:56.82' '14.67:63.17' '18.08:59.33' '20.25:63.83' '48.73:19.17'
 '48.17:17.17' '48.97:14.43' '50.22:15.83' '48.5:17.45' '21.25:48.73'
 '49.08:16.33' '50.08:14.42' '50.0:14.42' '50.68:14.0' '19.1:47.5']

In [21]:
lats = data["X"].unique()
longs = data["Y"].unique()

x_min, x_max = lats.min(), lats.max()
y_min, y_max = longs.min(), longs.max()

print(x_min, x_max)
print(y_min, y_max)

-6.28 50.68
0.0 63.83

In [23]:
x_range = np.arange(x_min, x_max, .01)
y_range = np.arange(y_min, y_max, .01)

def get_point_value(x,y):
    if len((cols))

In [ ]:
write("DATASET POLYDATA")
write(f"POINTS {len(x_range) * len(y_range)} float")